<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Название теста</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<section class="container">
    <h2>Тест на вероятность развития диабета</h2>
    <form class="form" action="#" th:action="@{/test}" th:object="${form}" method="post">
        <div class="question">
            <p class="question__text">Ваш пол?</p>
            <div class="question__bottom">
                <div class="form__radio-group">
                    <div class="form__radio-btn">
                        <input type="radio" required value="Мужчина" id="radio-1" name="sex" th:field="*{sex}" />
                        <label for="radio-1">Мужчина</label>
                    </div>
                    <div class="form__radio-btn">
                        <input type="radio" required value="Женщина" id="radio-2" name="sex" th:field="*{sex}" />
                        <label for="radio-2">Женщина</label>
                    </div>
                </div>
                <p class="question__caption">Вопрос 1/9</p>
            </div>
        </div>

        <div class="question">
            <p class="question__text">Ваш возраст?</p>
            <div class="question__bottom">
                <input class="form__input-field" required placeholder="Введите свой возраст"
                       type="number"
                       th:field="*{age}"
                >
                <p class="question__caption">Вопрос 2/9</p>
            </div>
        </div>

        <div class="question">
            <p class="question__text">Наблюдали ли вы у себя в последнее время повышенное давление?</p>
            <div class="question__bottom">
                <div class="form__radio-group">
                    <div class="form__radio-btn">
                        <input type="radio" required value="Да" id="radio-3" name="heart-problems" th:field="*{pressure}" />
                        <label for="radio-3">Да</label>
                    </div>
                    <div class="form__radio-btn">
                        <input type="radio" required value="Нет" id="radio-4" name="heart-problems" th:field="*{pressure}" />
                        <label for="radio-4">Нет</label>
                    </div>
                </div>
                <p class="question__caption">Вопрос 3/9</p>
            </div>
        </div>

        <div class="question">
            <p class="question__text">Имеются ли у вас проблемы с сердцем?</p>
            <div class="question__bottom">
                <div class="form__radio-group">
                    <div class="form__radio-btn">
                        <input required type="radio" value="Да" id="radio-5" name="pressure" th:field="*{heartProblems}" />
                        <label for="radio-5">Да</label>
                    </div>
                    <div class="form__radio-btn">
                        <input required type="radio" value="Нет" id="radio-6" name="pressure" th:field="*{heartProblems}" />
                        <label for="radio-6">Нет</label>
                    </div>
                </div>
                <p class="question__caption">Вопрос 4/9</p>
            </div>
        </div>

        <div class="question">
            <p class="question__text">Как часто вы курите?</p>
            <div class="question__bottom">
                <div class="form__radio-group">
                    <div class="form__radio-btn">
                        <input required type="radio" value="Никогда" id="radio-7" name="smoking" th:field="*{smoking}" />
                        <label for="radio-7">Никогда</label>
                    </div>
                    <div class="form__radio-btn">
                        <input required type="radio" value="Иногда" id="radio-8" name="smoking" th:field="*{smoking}" />
                        <label for="radio-8">Иногда</label>
                    </div>
                    <div class="form__radio-btn">
                        <input required  type="radio" value="Регулярно" id="radio-9" name="smoking" th:field="*{smoking}" />
                        <label for="radio-9">Регулярно</label>
                    </div>
                </div>
                <p class="question__caption">Вопрос 5/9</p>
            </div>
        </div>

        <div class="question">
            <p class="question__text">Какой у вас рост (в сантиметрах)?</p>
            <div class="question__bottom">
                <input required class="form__input-field" placeholder="Введите свой рост" type="number" th:field="*{height}">
                <p class="question__caption">Вопрос 6/9</p>
            </div>
        </div>

        <div class="question">
            <p class="question__text">Какой у вас вес (в килограммах)?</p>
            <div class="question__bottom">
                <input required class="form__input-field" placeholder="Введите свой вес" type="number" th:field="*{weight}">
                <p class="question__caption">Вопрос 7/9</p>
            </div>
        </div>

        <div class="question">
            <p class="question__text">Какой у вас уровень HbA1c? Средний уровень сахара в крови за последние 2-3 месяца.</p>
            <div class="question__bottom">
                <input required class="form__input-field" placeholder="Введите свой вес" type="number" th:field="*{HbA1c}">
                <p class="question__caption">Вопрос 8/9</p>
            </div>
        </div>

        <div class="question">
            <p class="question__text">Какой у вас уровень глюкозы в крови?</p>
            <div class="question__bottom">
                <input required class="form__input-field" placeholder="Введите свой вес" type="number" th:field="*{glucose}">
                <p class="question__caption">Вопрос 9/9</p>
            </div>
        </div>
        <button class="form__button">Посмотреть результат</button>
    </form>
</section>
</body>
</html>
